{% extends 'base.html.twig' %}
    {% block body %}
       <!--BEGIN home-->
        <section class="home" style="background-image: url(/assets/img/header_bg.jpg);">
            <div class="home__box">
                <h1 class="home__title">Технічні конференції в Україні. Поширюємо ідеї, ділимося досвідом.</h1>
                <p class="home__description">Організовано більше 30 подій з 2010 року</p>
            </div>
        </section>
        <!--END home-->
        <!--BEGIN event-header-->
        <section class="event-header" style="background-color: #7586D2;">
            <div class="container">
                <div class="event-header__box">
                    <h1 class="event-header__title">{{ event.name }}</h1>
                        <div class="event-header__description">{{ event.description }}
                        </div>
                        <div class="event-header__details">
                            <div class="event-header__details-left">
                                <time datetime="2018-06-10" class="event-header__date">{{ event.date.format('Y-m-d') }}</time>
                            </div>
                            <div class="event-header__details-right">
                                <a class="event-header__location go-to-block">Mercure Congress Hall</a>
                            </div>
                        </div>
                        <div class="event-header__action">
                            <div class="event-header__action-ticket">
                                <a  href="{{ path('conference') }}"  class="btn btn--primary btn--lg event-header__btn set-modal-header add-wants-visit-event" data-event="php-fwdays-2018">Розклад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END event-header-->
        <!--BEGIN video-->
        <section class="video">
            <div class="container">
                <div class="video__box">
                    <div class="video__frame">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/lSQE5d1rbLI"
                                allowfullscreen></iframe>
                    </div>
                    <div class="video__description">
                        <p>Ми обираємо корисні теми доповідей від іноземних та українських експертів.</p> <p>На вас чекають  два потоки лекцій, спілкування зі спікерами та учасниками, перерви на смачні кава-паузи і обід.</p>
                    </div>
                </div>
                <a href="https://www.youtube.com/user/fwdays/videos" class="more-link" target="_blank">Наш YouTube канал</a>
            </div>
        </section>
        <!--END video-->

        <!--BEGIN gallery-->
        <section class="gallery">
            <div class="container">
                <div class="gallery__cols">
                    <div class="gallery__col gallery__col--1">
                        <img class="gallery__item gallery__item--w-2" src="{{ asset('/uploads/images/ivents/gallery_image_1.jpg') }}" alt="">
                        <img class="gallery__item gallery__item--w-1" src="{{ asset('/uploads/images/ivents/gallery_image_5.jpg') }}" alt="">
                        <img class="gallery__item gallery__item--w-1 gallery__item--hide-mob" src="{{ asset('/uploads/images/ivents/gallery_image_6.jpg') }}" alt="">
                    </div>
                    <div class="gallery__col gallery__col--2">
                        <img class="gallery__item gallery__item--w-1" src="{{ asset('/uploads/images/ivents/gallery_image_2.jpg') }}" alt="">
                        <img class="gallery__item gallery__item--h-2" src="{{ asset('/uploads/images/ivents/gallery_image_7.jpg') }}" alt="">
                    </div>
                    <div class="gallery__col gallery__col--3">
                        <img class="gallery__item gallery__item--w-1 gallery__item--hide-mob" src="{{ asset('/uploads/images/ivents/gallery_image_3.jpg') }}" alt="">
                        <img class="gallery__item gallery__item--w-1" src="{{ asset('/uploads/images/ivents/gallery_image_4.jpg') }}" alt="">
                        <img class="gallery__item gallery__item--w-2" src="{{ asset('/uploads/images/ivents/gallery_image_8.jpg') }}" alt="">
                    </div>
                </div>
                <a href="https://www.flickr.com/photos/140720579@N08/albums" class="more-link" target="_blank">Більше фото на Flickr</a>
            </div>
        </section>
        <!--END gallery-->
    </div>
    <!--END layout-box__top-->


{% endblock %}